.forgotAuth {
  width: 50%;
  padding: 20px 10px 30px;
  border: 0.5px lightgray solid;
  box-shadow: lightslategrey 0.5px 0.5px;
  margin: 150px auto 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(247, 247, 247);
}

.forgotAuth h1 {
  border-bottom: 0.1px rgb(173, 173, 173) solid;
  width: 95% !important;
  text-align: center;
  padding-bottom: 20px;
}
.forgotAuth .emailAuthForm,
.emailAuthButton {
  margin-top: 40px !important;
}

.forgotAuth .emailAuthForm {
  background-color: white;
  width: 70%;
}

.forgotAuth .forgotPasswordInfo {
  color: red;
  margin-top: 20px;
  font-size: 16px;
}
