.profilePic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.userName {
  line-height: 50px;
  color: brown;
  font-weight: 600;
  font-size: 14px;
}
.sidePaneButtons {
  width: 100% !important;
  color: #36b !important;
  background-color: white !important;
  font-size: 14px !important;
  border: none !important;
  margin-top: 3px !important;
}

.UserDetailProfileTab p {
  margin-top: 30px;
  font-size: 13px;
}

.deleteAddressButton {
  float: right !important;
  color: white !important;
  font-weight: 500 !important;
  padding: 0px !important;
  background-color: #f44336 !important;
  min-width: 20px !important;
}

.editPasswordInput {
  width: 90%;
  padding: 15px;
  background-color: rgb(247, 247, 247) !important;
  margin: auto;
}

.inputandbutton {
  margin-top: 20px !important;
}

.editAddressInput {
  margin-top: 10px !important;
  display: block !important;
}

.editProfileContainer {
  padding: 15px;
}

.editProfileInputs {
  margin-top: 15px !important;
}

.addAddressInput {
  margin-top: 20px !important;
}
.paperProfile {
  width: 75%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .paperProfile {
    width: 100% !important;
  }
  .profilePaper .UserDetailProfileTab {
    width: 50% !important;
    margin: 0;
  }
}
